@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #7a7a7a #ffffff;
}

*::-webkit-scrollbar {
    width: 11px;
    height: 11px;
    /*for horizontal scroll bar */
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

:root {
    --dark-gray: #303030;
    --light-gray: #808290;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

.fill {
    color: red;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
.heart{
    font-size: 40px;
    cursor: pointer;
}
#nav-list {
    display: flex;
    overflow: scroll;
    padding: 0 10px;
    list-style: none;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.367);
}

.categories {
    color: var(--light-gray);
}

nav {
    display: flex;
    justify-content: center;
}

.nav-list-item {
    padding: 10px 30px;
    margin: 5px 3px 0 3px;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 4px;
}

.active {
    background-color: #404040a3 !important;
}

.hr {
    height: 2px;
    background-color: var(--light-gray);
    margin: 5px;
}

.lang {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 5px;
}

.categories {
    padding: 10px 15px;
    margin: 7px 0;
}

.logo {
    width: 150px;
    margin: auto;
    display: block;
    padding-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.btn {
    margin: 5px 10px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #14b9d5;
    border-radius: 100px;
}

.btn:hover {
    background-color: #0c97af;
}

.menu {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
    height: 79vh;
    align-items: center;
}

.dots {
    display: inline-block;
    width: 56px;
    height: 26.9px;
    background: radial-gradient(circle closest-side, #8b8bb5 90%, #0000) 0% 50%,
        radial-gradient(circle closest-side, #8b8bb5 90%, #0000) 50% 50%,
        radial-gradient(circle closest-side, #8b8bb5 90%, #0000) 100% 50%;
    background-size: calc(100%/3) 13.4px;
    background-repeat: no-repeat;
    animation: dots-animation 1s infinite linear;
}
.v-none{
    visibility: hidden;
}
@keyframes dots-animation {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
    }
}

.news {
    overflow-y: scroll;
    height: calc(100vh - 350px);
    display: none;
    align-items: center;
    flex-direction: column;
}

h1,
h2 {
    margin-bottom: 10px;
}

.card {
    display: flex;
    max-width: 900px;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.56);
    box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.56);
}

.card .img {
    width: 33%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card .details {
    width: 65%;
    padding-left: 20px;
}

.card .title {
    margin: 5px 0 0 0;
}

.card p {
    padding: 10px;
}
.category{
    text-align: end;
    text-transform: capitalize;
}
.category span{
    font-weight: bold;
}
.more {
    width: fit-content;
    display: flex;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
    background-color: #231f20;
    color: #fff;
}
.btn-icons{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:700px) {
    .card{
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
    .card .img{
        width:100%;
        height: 230px;
    }
    .card .details{
        margin-top: 10px;
        width: 100%;
    }
}
